!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Common resources
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!*foreground: rgb:b2/b2/b2
!*background: rgb:08/08/08


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Terminal.sexy
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#include ".Xresources.d/colors"

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Fontconfig configuration
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Xterm resources
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! Set the correct TERM
XTerm.termName: xterm-256color

! Scrolling
XTerm.VT100.saveLines: 4096

! Scroll Bar
XTerm.VT.scrollBar: false
XTerm.VT100.scrollbar.width: 8

! Geometry
XTerm.VT100.geometry: 110x40



!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! URxvt resources
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! Perl extensions
URxvt.perl-ext-common: default,resize-font,matcher

! Disable the scrollbar
URxvt.scrollBar: false

! Set the geometry
URxvt.geometry: 90x30

! True transparency (requires a compositing WM)
URxvt.depth: 32
URxvt.background: [80]#000000

! Font
URxvt.font: xft:Terminus:style=Regular:size=12
URxvt.boldfont: xft:Terminus:style=Bold:size=12
URxvt.italicfont: xft:Terminus:style=Light Italic:size=12
URxvt.bolditalicfont: xft:Terminus:style=Bold Italic:size=12
!URxvt.letterSpace: 0 

! Manage urls with mouse (needs the matcher ext)
URxvt.urlLauncher: firefox 
URxvt.underlineURLs: false 
URxvt.urlButton: 1

! Options for resize-font ext
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.resize-font.step: 1
