alias aup='aur sync --upgrades --database aur'
alias aupver='aur sync --upgrades --database aurver'
alias cd..='cd ..'
alias dfh='df -hT'
alias diff='diff --color'
alias dmesg='dmesg --ctime'
alias duh='du -h'
alias fd='fd --hidden --follow'
alias filesort='find . -type f -exec ls -lSdrh {} +'
alias grep='grep --color=auto'
alias gtk3-theme-list='find $(find ~/.themes /usr/share/themes/ -wholename "*/gtk-3.0" | sed -e "s/^\(.*\)\/gtk-3.0$/\1/")\ -wholename "*/gtk-2.0" | sed -e "s/.*\/\(.*\)\/gtk-2.0/\1"/'
alias lla='ls -lha --color=auto'
alias ll='ls -lh --color=auto'
alias ls='ls --color=auto --time-style="+%Y-%m-%d %H:%M"'
alias mc='env TERM=screen-256color mc'
alias nn='nano'
alias sx='startx'
alias sudo='sudo '
alias top='htop'
alias update='sudo pacman -Suy'
alias xp='xprop | grep "WM_WINDOW_ROLE\|WM_CLASS" && echo "WM_CLASS(STRING) = \"NAME\", \"CLASS\""'
