!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Common resources
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!*foreground: rgb:b2/b2/b2
!*background: rgb:08/08/08


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Terminal.sexy - atelierforest.dark
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! special
*.foreground:   #a8a19f
*.background:   #1b1918
*.cursorColor:  #a8a19f

! black
*.color0:       #1b1918
*.color8:       #766e6b

! red
*.color1:       #f22c40
*.color9:       #f22c40

! green
*.color2:       #5ab738
*.color10:      #5ab738

! yellow
*.color3:       #d5911a
*.color11:      #d5911a

! blue
*.color4:       #407ee7
*.color12:      #407ee7

! magenta
*.color5:       #6666ea
*.color13:      #6666ea

! cyan
*.color6:       #00ad9c
*.color14:      #00ad9c

! white
*.color7:       #a8a19f
*.color15:      #f1efee


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Xterm resources
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! Set the correct TERM
XTerm.termName: xterm-256color

! Scrolling
XTerm.VT100.saveLines: 4096

! Scroll Bar
XTerm.VT.scrollBar: false
XTerm.VT100.scrollbar.width: 8

! Geometry
XTerm.VT100.geometry: 110x40



!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! URxvt resources
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! Perl extensions
URxvt.perl-ext-common:resize-font

! Disable the scrollbar
URxvt.scrollBar: false

! Set the geometry
URxvt.geometry:120x40

